COMPOSE_PROJECT_NAME=lifeline

APP_NAME=lifeline
APP_PORT=30000
APP_ENVIRONMENT=development

DATABASE_POSTGRES_NAME=lifeline
DATABASE_POSTGRES_PORT=5432
DATABASE_POSTGRES_HOST=lifeline-db
DATABASE_POSTGRES_USER=lifeline_default_user
DATABASE_POSTGRES_PASSWORD=lifeline_default_password

JWT_SECRET=lifeline_default_jwt_secret
