.day-page
    padding-bottom: 100px

@media (orientation: landscape)
    .day-page
        padding-left: 236px
        padding-bottom: 64px

@media (orientation: portrait)
    .day-page
        padding-bottom: 100px
