.day-page
    padding-bottom: 100px

.day-page__content
    display: grid
    gap: 24px

@media (orientation: landscape)
    .day-page
        padding-left: 236px
        padding-bottom: 64px

@media (orientation: portrait)
    .day-page
        padding-bottom: 100px
